// Colors
$bg-color: #fff;
$primary-color: #3c842f;
$secondary-color: #b4cb1a;
$text-color: #1b1b1b;
$box-bg: #f0f0f0;
$spacing-color: #1e1e1e;

// Sizes
$spacing: 30px;
$padding:10px;
$basis: 12%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;  
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: $text-color;
    background-color: $bg-color;
    min-height: 100vh;  
}


header, footer, main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
main{
    flex-grow: 1;
}
.container {   
    width:100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header, main, footer {
    @extend .flex-container;
    align-items:stretch;

    .container{
        padding:$spacing;
        background-color: $spacing-color;
    }
}
header, main{
    margin-bottom: $spacing;
}
header {
    .container{
        flex-wrap: wrap;
    }
    nav{
        width:100%;
        @extend .flex-container;  
        background-color: #2C4059;
        margin-bottom: $spacing;
        gap:$padding; 
    }
    .logo, .nav, .social {
        background-color: #EA5455;
        margin:$spacing;
        padding:$padding; 
    }
    .logo, .social {
        flex-basis:$basis;
    }
    .nav{
        flex-grow:1;
        
    }
    .banner{
        flex-basis:100%;
        background-color: #FED700;
        padding: $spacing;
        border: $spacing solid #FF8B00; 
    }
}
main{
    .container{
        @extend .flex-container;
        flex-wrap: nowrap;
        gap:$spacing;
    }
    .principal{
        @extend .flex-container;  
        flex-grow:1;
        background-color: #4E4E6A;
        flex-wrap: wrap;
        padding:$spacing;
        gap:$spacing;
        article{
            background-color: #1F6CB0;
            padding:$padding;
            flex-basis: calc(50% - 15px);
           
        }
        .navegacion{
            flex-grow:1;
            flex-basis:100%;
            padding:$padding;
            background-color: #71A3C4;
        }
    }
    aside{
        @extend .flex-container;
        background-color: #F63F51;
        padding:$spacing;
        display: flex;
        flex-wrap: wrap;
        align-content:flex-start;
        gap:$padding;
        .publicidad{
            background-color: #FED700;
            padding:$padding;
            flex-basis: 100%;
        }
    }

}
footer{
    .container{
        .pie{
            background-color: #F0E78C;
            width:100%;
            padding:$padding;
        }
        
    }
}
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        flex-wrap:nowrap
    }
    * {
        flex-basis:100%
    }
}



