* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  font-family: serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
  background-color: #fff;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 2em;
}

header, footer, main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flex-container, main aside, main .container, header nav, header, main, footer {
  display: flex;
  justify-content: space-between;
}

header, main, footer {
  align-items: stretch;
}
header .container, main .container, footer .container {
  padding: 30px;
  background-color: #1e1e1e;
}

header, main {
  margin-bottom: 30px;
}

header .container {
  flex-wrap: wrap;
}
header nav {
  width: 100%;
  background-color: #2C4059;
  margin-bottom: 30px;
  gap: 30px;
  padding: 30px;
}
header .logo, header .nav, header .social {
  background-color: #EA5455;
  padding: 10px;
}
header .logo, header .social {
  flex-basis: 12%;
}
header .nav {
  flex-grow: 1;
}
header .banner {
  flex-basis: 100%;
  background-color: #FED700;
  padding: 30px;
  border: 30px solid #FF8B00;
}

main .container {
  flex-wrap: nowrap;
  gap: 30px;
}
main .principal {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #4E4E6A;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}
main .principal article {
  background-color: #1F6CB0;
  padding: 10px;
  flex-basis: calc(50% - 15px);
}
main .principal .navegacion {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 10px;
  background-color: #71A3C4;
}
main aside {
  background-color: #F63F51;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}
main aside .publicidad {
  background-color: #FED700;
  padding: 10px;
  flex-basis: 100%;
}

footer .container .pie {
  background-color: #F0E78C;
  width: 100%;
  padding: 10px;
}

.anim {
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.anim:hover {
  transform: scale(1.4);
  background-color: #FF1493;
}

@media (max-width: 768px) {
  body {
    background-color: #0f9321;
  }
  .flex-container, header, main, footer, header nav, main .container, main aside {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  * {
    flex-basis: 100%;
  }
}
@media (max-width: 600px) {
  body {
    background-color: #0f4a93;
  }
  main .principal {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}